<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://root:9LgsRuBGnaUO@dev-db-mmgo.travelogixx.net:27017/TLGX_MAPPING?authSource=admin&amp;appName=WEBAPI_DEV&amp;connectTimeoutMS=5000&amp;minPoolSize=3000&amp;retryWrites=true&amp;waitQueueMultiple=15" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ProdMessageURL" value="http://dev-app-mwcf.travelogixx.net:9002/KafkaService.svc" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaAddress" value="dev-app-kafka.travelogixx.net:9092" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ActivityTopic" value="NAK.DEV.ACTIVITY.PUB" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="TLGX_Entities" connectionString="metadata=res://*/TLGX_Model.csdl|res://*/TLGX_Model.ssdl|res://*/TLGX_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;initial catalog=TLGX_MAPPING;persist security info=True;user id=sqldata;password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TLGX_DEF_CONN" connectionString="Data Source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;Initial Catalog=TLGX_MAPPING;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>