<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://root:9LgsRuBGnaUO@dev-db-mmgo.travelogixx.net:27017/TLGX_MAPPING?authSource=admin&amp;appName=WEBAPI_LOCAL&amp;connectTimeoutMS=5000&amp;minPoolSize=1500&amp;retryWrites=true&amp;waitQueueMultiple=15" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TokenSize" value="100" />
    <add key="TokenExpirySeconds" value="3600" />
    <add key="DataTransferBatchSize" value="2000" />
    <add key="ProdMessageURL" value="http://localhost:64450/KafkaService.svc" />
    <add key="KafkaAddress" value="dev-app-kafka.travelogixx.net:9092" />
    <add key="ActivityTopic" value="NAK.DEV.ACTIVITY.PUB" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <membership defaultProvider="CustomizedProvider" userIsOnlineTimeWindow="60">
      <providers>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TLGX_DEF_CONN" applicationName="/" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" enablePasswordReset="true" requiresQuestionAndAnswer="false" />
      </providers>
    </membership>

    <!--<roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" createPersistentCookie="false" defaultProvider="DefaultRoleProvider" maxCachedResults="25">-->
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="TLGX_DEF_CONN" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>

    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>

    <services>
      <service behaviorConfiguration="default" name="MapperSvc.MapperSvc">
        <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="ServiceContracts.IMapSvs" bindingConfiguration="svcBinding">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="svcBinding" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp helpEnabled="true" faultExceptionEnabled="false" />
          <!--defaultOutgoingResponseFormat="Json" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="false" />-->
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="default">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!--httpsGetEnabled="true"-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceAuthenticationManager serviceAuthenticationManagerType="" authenticationSchemes="ProdSvc.RestAuthorizationManager"/>-->
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="DefaultRoleProvider">
            <!--<authorizationPolicies>
              <add policyType="MapperSvc.App_Code.Security.AuthorizationPolicy, MapperSvc.App_Code.Security"/>
            </authorizationPolicies>-->
          </serviceAuthorization>

          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="CustomizedProvider" />
            <!--<userNameAuthentication userNamePasswordValidationMode="Custom" membershipProviderName="MapperSvc.App_Code.Security.CustomUserNamePasswordValidator, MapperSvc.App_Code.Security"/>-->
          </serviceCredentials>

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TLGX_Entities" connectionString="metadata=res://*/TLGX_Model.csdl|res://*/TLGX_Model.ssdl|res://*/TLGX_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;initial catalog=TLGX_MAPPING;persist security info=True;user id=sqldata;password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=180;&quot;" providerName="System.Data.EntityClient" />
    <add name="TLGX_DEF_CONN" connectionString="Data Source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;Initial Catalog=TLGX_MAPPING;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>